*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #265e50;
    text-align: center;
}
.contendor{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    margin: 5px;
    height: 30px;
    border-radius: 8px;
    text-align: center;    
    box-shadow: #000000 1px 3px 5px -1px;
    border: none;
}
button{
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: #835a5a;
}
#resultado{
    text-align: center;
    justify-content: center;
    margin: 50px;
}
